/* IMPORTS */

/* CSS components */
@import 'components/article-news.css';
@import 'components/avatar.css';
@import 'components/banner.css';
@import 'components/button.css';
@import 'components/fonts.css';
@import 'components/footer.css';
@import 'components/icons.css';
@import 'components/main.css';
@import 'components/navbar.css';
@import 'components/section.css';
/* CSS pages */
@import 'pages/vita.css';

/* GENERAL */

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGE */

.container {
  width: 80%;
  margin: 0 auto;
}

/* SCREENSIZE */

@media (max-width: 1024px) {
  .leftside > .wrapper, .rightside > .wrapper {
    display: block;
  }
  .avatar-vita {
    width: 
  }
}

@media (max-width: 960px) {

  h1 {
    font-size: 40px;
  }
  .subheader {
    font-size: 18px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 28px;
  }
  .map-container {
    width: 360px;
    height: 300px;
  }
  .avatar {
    width: 240px;
    height: 240px;
  }
  .avatar-vita {
    width: 200px;
    height: 240px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 85%;
  }

  h1 {
    font-size: 32px;
  }
  .subheader {
    font-size: 16px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 26px;
  }

  p {
    font-size: 0.8em;
  }

  
  
  .news-box {
    padding: 20px 18px 8px 18px;
  }
  
  .map-container {
    width: 300px;
    height: 250px;
  }
  
  .wrapper-vita {
    display: block;
  }
}
@media (max-width: 540px) {
  .avatar {
    width: 240px;
    height: 240px;
  }
  .container {
    width: 90%;
  }

  h1 {
    font-size: 24px;
  }
  .subheader {
    font-size: 14px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  
  .wrapper {
    display: block;
    }

  .newscontainer {
    max-height: 20rem;
  }

  #main-index {
    position: absolute;
    top: 90vh;
  }

  #banner-section {
    padding-top: 120px;
  }

  .map-container {
    width: 240px;
    height: 200px;
  }
}