/* IMPORTS */

/* CSS components */
@import 'components/article-news.css';
@import 'components/avatar.css';
@import 'components/banner.css';
@import 'components/button.css';
@import 'components/cookie-notice.css';
@import 'components/fonts.css';
@import 'components/footer.css';
@import 'components/icons.css';
@import 'components/main.css';
@import 'components/navbar.css';
@import 'components/section.css';
/* CSS pages */
@import 'pages/vita.css';

/* GENERAL */

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGE */

.container {
  width: 80%;
  margin: 0 auto;
}

/* SCREENSIZE */

@media (max-width: 1024px) {
  .leftside > .wrapper, .rightside > .wrapper {
    display: block;
  }
}

@media (max-width: 960px) {

  h1 {
    font-size: 40px;
  }
  .subheader {
    font-size: 18px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 28px;
  }
  .map-background, .map-container, .map-text-container, .map-img {
    width: 360px;
    height: 300px;
    background-size: 360px 300px;
  }
  .avatar {
    width: 240px;
    height: 240px;
  }
  .avatar-vita {
    width: 200px;
    height: 240px;
  }
}

@media (max-width: 720px) {

  h1 {
    font-size: 32px;
  }
  .subheader {
    font-size: 16px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 26px;
  }

  p {
    font-size: 0.8em;
  }
  
  .map-background, .map-container, .map-text-container, .map-img {
    width: 300px;
    height: 250px;
    background-size: 300px 250px;
  }
  
  .wrapper-vita {
    display: block;
  }

  .cookie-text {
    display: block;
  }
}
@media (max-width: 540px) {
  .avatar {
    width: 240px;
    height: 240px;
  }
  .container {
    /* width: 90%; */
  }

  h1 {
    font-size: 1.6em;
    line-height: 1.3em;
  }
  .subheader {
    font-size: 1.1em;
  }
  .subsubheader {
    font-size: 1.2em;
    line-height: 1.6rem;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  .btn-big {
    font-size: 20px;
  }
  .btn-small {
    font-size: 16px;
  }
  
  .wrapper {
    display: block;
  }

  article, section {
    padding-left: 0px;
    padding-right: 0px;
  }

  .map-background, .map-container, .map-text-container, .map-img {
    width: 240px;
    height: 200px;
    background-size: 240px 200px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 85%;
  }
  .news-box {
    max-width: 92%;
    padding-left: 16px;
    padding-right: 16px;
  }
}