.btn {
  padding: 8px 24px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: inset 0 0 4px 1px;
}

.btn-green {
  background-color: #2dffe6;
}

.btn-green:hover {
  background-color: #0d132336;
  color: white;
  transition: ease-in-out 0.1s;
}

.btn-dark {
  background-color: #0D1323;
  color: white;
}

.btn-bottom {
  position: absolute;
  bottom: 20px;
}