.btn {
  padding: 8px 12px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 4px 4px;
}

.btn-green {
  background-color: chartreuse;
}

.btn-dark {
  background-color: #0D1323;
  color: white;
}
.btn-dark a {
  color: white;
}

.btn-bottom {
  position: absolute;
  bottom: 32px;
}