#cookie-notice {
  background-color: #0D1323;
  opacity: 0.95;
  position: fixed;
  width: 100%;
  transition: bottom ease-in 0.4s;
  z-index: 1;
}

.cookie-text-box {
  max-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto;
  padding: 0 24px;
}

.cookie-text {
  display: flex;
  justify-content: space-between;
}

.margin-between {
  margin: auto 20px;
}