#cookie-notice {
  background-color: #0D1323;
  opacity: 0.95;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: top ease-in-out 0.3s;
  z-index: 1;
}

.cookie-text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto;
  padding: 0 24px;
}

.cookie-text {
  display: flex;
  justify-content: space-between;
}

.margin-between {
  margin: auto 20px;
}