
/* DROP DOWN MENU */

@media (max-width: 719px) {
  .menu-wrap {
    padding: 8px;
  }
  
  nav {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 64px;
    right: 0;
    background: linear-gradient(90deg,
    rgba(20,33,61,1), rgba(13, 18, 29, 0.4));
    opacity: 0.8;
    width: 80%;
    height: 100% ;
    display: none;
  }

  
  #checkbox-toggle:checked ~ nav {
    display: inline-block;
    padding: 16px 0;
    /* transition: ease-in 2.5s; */
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
  }
  nav {
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    list-style-type: none;
    overflow: hidden;
    align-items: right;
    /* display: flex; */
  }
  
  nav ul li {
    padding: 8px;
  }
  nav ul li a {
    padding: 12px;
    border-bottom: solid white 1px;
  }
}


/* SCREEN MENU */

@media (min-width: 720px) {
  /* For a screen > 720px, this CSS will be read */
  .menu-icon {
    display: none;
  }

  .menu-wrap {
    position: relative;
    height: 64px;
    padding: 8px 16px;
    align-items: center;
  }

  nav {
    position: absolute;
    right: 32px;
    align-items: center;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    padding: 0 24px;
    justify-content: space-between;
  }

  .icon-fb {
    padding-left: 24px;
  }

  .container {
    width: 500px;
  }
}

/* GENERAL */

.menu {
  background-color: #0D1323;
}

.menu-wrap {
  display: flex;
  justify-content: space-between;
}

#checkbox-toggle {
  display: none;
}

nav ul li a {
  display: flex;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.05em;
}

i:hover, i:focus, nav ul li a:hover, nav ul li a:focus {
  color: #eb6f4a;
  transition: ease-in-out 0.2s;
}