/* general */

section {
  margin: 16px auto 0 auto;
  padding: 16px;
}

/* about */

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.leftside {
  grid-column: 1;
  padding: 16px;
  min-width: 200px;
}

.rightside {
  grid-column: 2;
  justify-items: center;
  padding: 16px;
  min-width: 200px;
}

.leftside, .rightside {
  margin: auto auto;
}

/* contact */

.contact {
  background: white;
  padding: 16px;
}

#img-map {
  max-width: 95%;
}

address {
  font-style: normal;
}

.text-right {
  text-align: right;
}

.header-right {
  grid-column: 2;
}