/* .flex {
  display: flex;
  justify-content: space-between;
} */

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.left {
  grid-column: 1;
  padding: 16px;
}

.right {
  grid-column: 2;
  justify-items: center;
}