@import './google-fonts/lato.css';
@import './google-fonts/hind-madurai.css';
@import './google-fonts/montserrat.css';
@import './google-fonts/yantramanav.css';


h1, h2, h3, h4, h5, h6, .subheader, .subsubheader {
  font-family: "Montserrat", "Arial", sans-serif;
  margin-top: 0;
}

p {
  font-size: 16px;
  font-family: "Hind Madurai", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
ul {
  font-family: "Hind Madurai", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
#credits a {
  color: white;
}
.font-yant {
  font-family: "Yantramanav", "Arial", sans-serif;
}
nav .font-yant {
  font-size: 1.1em;
  letter-spacing: 0.14em;
}
.btn-big {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-shadow: 0px 0px 1px;
}

.btn-small {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.12em;
  text-shadow: 0px 0px 1px;
}

h1, .subheader, .subsubheader {
  color: white;
}
h1 {
  font-size: 48px;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 0px rgba(13, 19, 35, 1);
}
.subheader {
  font-size: 24px;
}
.subsubheader {
  font-size: 20px;
  opacity: 0.88;
  text-shadow: 1px 1px 1px rgba(13, 19, 35, 1);
}

h2 {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 30px;
}


.text-center {
  text-align: center;
}

.text-dark {
  color: black;
}

.text-bright {
  color: white;
}