.main-subpages > .main{
  padding-top: 10vh;
}

.avatar-vita {
  background-image: url("../../img/Nina_Bayer_Veterinärmedizinerin.jpg");
  background-position: 0% 90%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 20px 0px rgba(20, 33, 61, 0.7);
  margin: 0 auto;
  display: flex;
  width: 240px;
  height: 320px;
  border-radius: 4px;
}

.vita-white {
  background: rgba(250, 250, 250, 0.95);
  border-radius: 4px;
  padding: 0 0;
  margin: 24px 0;
  box-shadow: inset 0px 0px 20px 0px rgba(20, 33, 61, 0.7);
  width: 100%;
}

.vita-content {
  padding: 4%;
  align-items: start;
}

.vita-content h4 {
  font-size: 1.2em;
  letter-spacing: 0.02em;
}

